<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:href="@{/internalServerError.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/form.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Some problem</title>
</head>
<body>
<div class="wrapper">
    <div class="box">
        <h1>500</h1>
        <p>Sorry, it's me, not you.</p>
        <p>&#58;&#40;</p>
        <p><a href="/">Let me try again!</a></p>
    </div>
</div>
</body>
</html>